torch
torchvision
numpy<2
Pillow
PyYAML
tqdm
scipy
requests
einops
jaxtyping
pydantic
pydantic-settings
safetensors
transformers>=4.57.1,<5
datasets
huggingface-hub
rich
pymongo
msgpack
pandas
matplotlib
wandb
plotly
openai
tiktoken
python-dotenv
tomlkit
typing-extensions
typeguard
more-itertools
json-repair
accelerate
beartype
better-abc
fancy-einsum
sentencepiece
